<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- Global Header -->

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container flex inline">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Community</a>
            </div>
            <span class="space"></span>
            <div class="navbar-text navbar-right">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-outline btn-sm">
                        LOGOUT
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
</html>