<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- Global Header -->

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EveryLearn</a>
            </div>
            <div class="navbar-text navbar-right">
                <form th:action="@{/logout}" th:method="post">
                    <button type="submit">
                        logout
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
</html>