<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="styles">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="contents">
    <form th:action="@{/public/joinAf}" method="post" th:object="${userVo}"
          id="boardAddForm">
        <div class="container">
            <h3>회원정보 입력</h3>

            <div class="input-group" style="margin-top: 20px">
                <span class="input-group-addon" id="userIdentification">id</span>
                <input type="text" class="form-control" aria-describedby="userIdentification" th:field="*{userIdentification}">
            </div>

            <div class="input-group" style="margin-top: 20px">
                <span class="input-group-addon" id="userPassword" >password</span>
                <input type="text" class="form-control" aria-describedby="userPassword" th:field="*{userPassword}">
            </div>

            <div class="input-group" style="margin-top:20px">
                <span class="input-group-addon" id="userName" >name</span>
                <input type="text" class="form-control" aria-describedby="userName" th:field="*{userName}">
            </div>

            <div class="input-group" style="margin-top: 20px">
                <span class="input-group-addon" id="userPhoneNumber" >phone</span>
                <input type="text" class="form-control" aria-describedby="userPhoneNumber" th:field="*{userPhoneNumber}">
            </div>

            <div class="input-group" style="margin-top: 20px">
                <span class="input-group-addon" id="userEmail" >email</span>
                <input type="text" class="form-control" aria-describedby="userEmail" th:field="*{userEmail}">
            </div>
        </div>
        <button type="submit" class="btn btn-default pull-right">회원가입</button>
    </form>
</th:block>

<div layout:fragment="scripts" th:remove="tag">

</div>