<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="text-align: center;">
    <div style="margin-top: 10%">
        <form th:action="@{/public/login}" th:object="${userEntity}" method="post">
            <h2>login</h2>
            <div>
                <input type="text" th:field="*{userIdentification}" autofocus placeholder="아이디"
                       style="width: 250px; height: 30px; font-size: 15px;"/>
            </div>
            <div style="margin-top: 20px">
                <input type="password" th:field="*{userPassword}" placeholder="비밀번호"
                       style="width: 250px; height: 30px;  font-size: 15px;"/>
            </div>

            <input class="submit_btn" type="submit" value="로그인" style="width: 255px; height: 35px; margin-top: 10px; font-size: 20px; background-color: lightgray ;border: 1px solid;">
        </form>
        <a th:href="@{/public/join}">회원가입</a>
    </div>
</div>
</body>
</html>
