<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="login_wrap">
    <div class="login">
        <h1 class="logo"></h1>
        <form th:action="@{/public/login}" th:object="${userEntity}" method="post">
            <div class="box_wrap">
                <div class="textbox">
                    <!--  입력시.textbox input.active css사용 -->
                    <input type="text" th:field="*{userIdentification}" autofocus placeholder="아이디"/>
                </div>
                <div class="textbox">
                    <input type="password" th:field="*{userPassword}" placeholder="비밀번호"/>
                </div>
            </div>
            <input class="submit_btn" type="submit" value="로그인">
        </form>
        <a th:href="@{/public/join}">회원가입</a>
    </div> <!-- // login-->
</div>
</body>
</html>
