<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="styles">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="contents">
    <form th:action="@{/board/addAf}" method="post" th:object="${boardVo}" id="boardAddForm">
        <div class="container">
            <input type="text" id="title" class="add-text-title" th:field="*{title}"/>
            <div id="boardContent" th:field="*{boardContent}" ></div>
            <div class="clearfix">
                <button class="btn btn-default pull-right" type="submit">Button</button>
            </div>
        </div>
    </form>
</th:block>

<div layout:fragment="scripts" th:remove="tag">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#boardContent', {
            theme: 'snow'
        });
        var delta = document.querySelector("#boardContent").innerHTML;
        console.log(delta);
        $("#boardContent").val(delta);
    </script>
</div>

